* {
    margin: 10;
}

body {
    font-family: Arial, sans-serif;
    background-color: #7b82e9;
    color: #782921;
}

h1 {
    text-align: center;
}

form {
    padding: 15px;
    background-color: #ffffff91;
    border-radius: 15px;
}

fieldset {
    padding: 20px;
    border-radius: 15px;
}

legend {
    text-align: center;
}

.txtName{
    border-radius: 5px;
}

#btnSumbit {
    color:#fff;
    background-color: #555;
}